.App {
  color: aliceblue;
  text-align: center;
  background: url("./Assets/mainlogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}

.nav-button{
  font-family: Impact;
  letter-spacing: .01cm;
  justify-content: space-around;
  transform: scale(1.5);
  background: transparent;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 6px green;
}

.nav-buttons{
  display: flex;
  justify-content: space-around;
}

.grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.card{
  display: cover;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  border: 0.25vmin solid white;
  box-shadow: 0 0 15px lightblue;
  -moz-box-shadow: 0 0 15px lightblue;
  -webkit-box-shadow: 0 0 15px lightblue;
  opacity: 0.8
}

.students-card{
  display: cover;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  border: 0.25vmin solid white;
  box-shadow: 0 0 15px lightblue;
  -moz-box-shadow: 0 0 15px lightblue;
  -webkit-box-shadow: 0 0 15px lightblue;
  opacity: 0.8
}

.heroes-card{
  display: cover;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  border: 0.25vmin solid white;
  box-shadow: 0 0 20px lightblue;
  -moz-box-shadow: 0 0 20px lightblue;
  -webkit-box-shadow: 0 0 20px lightblue;
  opacity: 0.8
}

.villains-card{
  display: cover;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  border: 0.25vmin solid black;
  box-shadow: 0 0 20px darkred;
  -moz-box-shadow: 0 0 20px darkred;
  -webkit-box-shadow: 0 0 20px darkred;
  opacity: 0.8
}

.card:hover{
  transform: scale(1.02);
  opacity: 1;
}

.container{
  margin-top: 3vmin;
  border: 5px solid rgba(2, 114, 75, 0.956);
  border-radius: 10%;
  box-shadow: 0 0 20px aliceblue;
  -moz-box-shadow: 0 0 20px aliceblue;
  -webkit-box-shadow: 0 0 20px aliceblue;
}

.details{
  margin-left: 1vmin;
  max-height: fit-content;
  max-width: fit-content;
  border: 2px solid black;
  border-radius: 12%;
  box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  background: linear-gradient(to bottom, rgba(185, 184, 184, 0.75), 10%, rgba(156, 156, 156, 0.75));
  color: black;
}

.profile{
  margin-top: 40vh;
  display: flex;
  flex-direction: row;
}